<h1>Welcome to Craftsy!</h1>

<% if user_signed_in? %>
  <%= link_to "Personal Craft Gallery", user_products_path(@products, @user) %>
  <%= link_to "Add a new Product", new_user_product_path(@user, @product) %>
<% end %>

<% @products.each do |product| %>
<%= link_to product.name, products_path %>
<% end %>
<br>
