<h1>Crafts You've Created</h1>

<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>



<% if user_signed_in? %>
  <%= link_to "View All Products", root_path %>
<% end %>
