<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<%= link_to "Add a Product", new_user_product_path %>

<%= link_to "View All Products", root_path %>
